body {
  background: black;
  color: white;
  font-family: verdana, sans-serif;
  text-align: center;
}

h1 {
  font-size: 50px;
  font-weight: normal;
}

h2 {
  font-size: 42px;
  font-weight: normal;
}

.whatis {
  color: grey;
  font-size: 21px;
  font-weight: normal;
  margin-bottom: 20px;
}

.download {
  color: aquamarine;
  font-size: 16px;
}

#copyright {
  color: grey;
  font-size: 18px;
  text-align: right;
}
